.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 63px;

    &__img {
        width: 210px;
    }

    &__nav {
        display: flex;
        gap: 57px;
        a {
            color: $mainColor;
            font-size: 24px;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: border-color 0.3s linear;
        }
        a.active {
            border-color: $mainColor;
        }
    }
}
