.accomodation {
    display: flex;
    flex-direction: column;

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        color: $primaryColor;
        margin-bottom: 24px;
        h1 {
            font-size: 36px;
        }
        p {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }

    &__info div:last-child {
        width: 200px;
    }

    &__description {
        display: flex;
        align-items: flex-start;
        gap: 76px;
    }

    // modifie les classes SCSS du composant Collapse
    .collapse {
        width: 50%;
        border-radius: 10px;
        &__header {
            padding: 13px 20px;
            border-radius: 10px;
        }
        &__title {
            font-size: 18px;
        }
        &__description {
            font-size: 18px;
        }
    }
}
